<h1>Sign Up</h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |msg| %>
    <div style="color:red"><%= msg %></div>
  <%end%>
<%end%>

<%= form_for @user do |f| %>
  First Name: <%= f.text_field :first_name, placeholder: "Enter First Name" %><br>
  Last Name: <%= f.text_field :last_name, placeholder: "Enter Last Name" %><br>
  Username: <%= f.text_field :username, placeholder: "Enter Username" %><br>
  Email: <%= f.text_field :email, placeholder: "Enter Email" %><br>
  Password: <%= f.password_field :password, placeholder: "Enter Password" %><br>
  Password Confirmation: <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %><br>
  <%= f.submit "Register" %>
<%end%>