<style>
  div {
    text-align: center;
  }
</style>

<h1>Edit Review for <%= @review.movie.title %></h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |msg| %>
    <p style="color:red"> <%= msg %> </p>
  <%end%>
<%end%>

<div>
  <%= form_for @review do |f| %>
    <p>Content: <%= f.text_area :content %><br></p>
    <%= f.submit %>
  <%end%>
</div>

