<h1><%= link_to @review.movie.title, movie_path(@review.movie) %></h1>
<%= image_tag @review.movie.poster %>

<div>
  <h2>Your Review</h2>
  <p><%= @review.content %></p>
</div>

<% if user_signed_in? %>
  <% if @review.liked?(current_user%>
    <%= button_to  "Like", like_path(@review), method: "put", disabled: true %>
<%else%>
    <%= button_to  "Like", like_path(@review), method: "put" %>
  <% end %>
<%end%>


<p><%= link_to "Edit", edit_review_path(@review) %></p>