<!DOCTYPE html>
<html>
  <head>
    <title>TheMovieReviewer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
    
    <% if !session[:logged_in] %>
      <%= link_to "New User? Register here.", new_user_path %><br>
      <%= link_to "Returning User? Login.", login_path %>
    <% else %>
      <%= link_to "Home", root_path %><br>
    <%end%>



  </body>
</html>
