<!DOCTYPE html>
<html>
  <head>
    <title>TheMovieReviewer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <style>

  </style>

  <body>
    <% if session[:logged_in] && !current_page?(root_path) %>
        <div style="text-align: left; vertical-align:top"><%= link_to "Home", root_path %></div>
    <%end%>
    <%= yield %>
    
    <% if !session[:logged_in] %>
      <div>
      <p class='login_page_options'><%= link_to "New User? Register here", new_user_path %></p>
      <p class='login_page_options'><%= link_to "Returning User? Login", login_path %></p>
      </div>
    <% else %>
      <% unless current_page?(root_path) || current_page?(select_movie_path)%>
        <div style="text-align: left; vertical-align:bottom"><%= link_to "Home", root_path %></div>
      <%end%>
    <% end %>



  </body>
</html>
